<div class="center jumbotron">
  <h1>Welcome !</h1>
  <h3>
    You can find all moussaillons right here ! 🎓
  </h3>
  <%= link_to "Register yourself !", '#', class: "btn btn-lg btn-primary" %>
</div>
