body {
    margin-top: 0px !important;
    color: white;
    background-color: #1479a8;
    font-family: Palatino;
    font-size: 1.5em;
}


header {

	color: white;
	background-color: #1479a8;
	display: flex
}

.card {

color: #1479a8;
font-family: Palatino;
text-align: center;


}
.navbar 

{
background-color: white;
color: white;
}

.nav-item
{
background-color: white;
color: white;

}

.jumbotron 
{
background-color: #1479a8;
font-family: Palatino;
color: white;
text-align: center;
margin-top: 120px
}

.btn
{
font-size: 1em;
font-family: Palantino;
}

.card-body 
{

}


a
{
color: orange;	
}

.jf {

text-align: center;

}

