<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "View all gossips",   '/gossips#index' %></li>
        <li><%= link_to "Create a new gossip", '/gossips/new#new' %></li>
      </ul>
    </nav>
  </div>
</header>
