<header class="navbar navbar-fixed-top navbar">
  <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href= "/">TheGossipWebsite</a>
      <a class="nav-item nav-link" href="/gossips#index">View all Gossips</a>
      <a class="nav-item nav-link" href="/gossips/new">Create your Gossip</a>
      <a class="nav-item nav-link" href="/static_pages/contact">Contact</a>
      <a class="nav-item nav-link" href="/static_pages/team">Team</a>
      
    </div>
  </div>
</nav>
    </nav>
  </div>
</header>
